{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>
        <a class="button back" href="/blog">&larr;</a> {{ post.title }}
    </h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <div class='post-body'>
        {{ post.body|linebreaks }}
    </div>
    <p style='text-align: center;'>
        <a href="{% url 'blog:post_share' post.id %}" class="button">
            Share this post
        </a>
    </p>
{% endblock content %}