{% extends 'blog/base.html' %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h2>E-mail successfully sent</h2>
        <p>E-mail successfully sent to <strong>{{ form.cleaned_data.to }}</strong></p>
        <a href="{% url 'blog:post_detail' post.publish.year post.publish.month post.publish.day post.slug %}" class='button'>&larr; Voltar</a>
    {% else %}
        <h2>Share "{{ post.title }}" by e-mail</h2>
        <form method='post'>
            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <input type='submit' value='Send e-mail' class='button'>
        </form>
    {% endif %}
{% endblock content %}